<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<aside class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
    

    <div class="relative mt-6 bg-gray-100 ">
        <li class="bg-gray-100 absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </li>

        <input type="text" class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" placeholder="Search" />
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
       <ul>
        <a class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-md dark:bg-gray-800 dark:text-gray-200" href="#">
            <div class="personne">
                <mat-icon>personne</mat-icon>
            </div>
            
            <li class="mx-4 font-medium">Votre fil</li>
        </a>

        <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
            <mat-icon>menu</mat-icon>
            <li class="mx-4 font-medium">Découvrir</li>
        </a>

        <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
            <mat-icon>groupe</mat-icon>
            <li class="mx-4 font-medium">vos groupes</li>
        </a>
       </ul>
            <div class="creer">
                + Créer un nouveau groupe
            </div>
            <hr class="my-6 border-gray-200 dark:border-gray-600" />
            <p>Groupes dont vous etes membre <span>Tout voir</span></p>
            
        </nav>
    </div>
</aside>
